<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Calorie Calculator
    </title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/scriptPage2.js"></script>
   
</head>
<body class="subPages">
    <header class="nav-BMR">
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="#">BMR Calculator</a>
            <a href="#">Calorie Calculator</a>
            <a href="mainPage.html">Login</a>
        </nav>
    </header>
    <div class="wrapper-BMR">
        <div class ="bmr-calculator">
            <h2>BMR Calculator</h2>
            <div class="controls">
                <form>
                    <h3>Age</h3>
                    <input type="text" id="age" value="21"/>

                    <div class="gender">
                        <h3>Gender</h3>
                        <input type="radio" id="male" value="male" name="gender" checked />
                        <label for="male" >Male</label>
                        <input type="radio" id="female" value="female" name="gender" />
                        <label for="female">Female</label>
                    </div>

                    <div class="height">
                        <h3>Height</h3>
                        <input type="text" id="height" value="180" />
                        <div class="unit">cm</div>
                    </div>

                    <div class="weight">
                        <h3>Weight</h3>
                        <input type="text" id="weight" value="60">
                        <div class="unit">kg</div>
                    </div>
                </form>

                <div class="result">
                    <button class="calculate-btn">Calculate</button>
                    <div class="result-message"><span class="calories"></span>Calories/day</div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>