<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Calorie Calculator
    </title>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script> 
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="mainPage">
    <header>
        <h2 class="logo">GetFit</h2>
        <nav class="navigation">
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
        <h1>WELCOME</h1>
     

    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close"></ion-icon>
        </span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/formLogin" method="post">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="emailInput" name="emailInput" required>
                    <label for="emailInput">email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock"></ion-icon></span>
                    <input type="password" id="passwordInput" name="passwordInput" required>
                    <label for="passwordInput">password</label>
                </div>
                
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an account?
                        <a href="#" class="register-link">Register</a>
                    </p>
                </div>
               
            </form>
        </div>  
    
    

        <div class="form-box register">
            <h2>Registration</h2>
            <form action="/formRegister" method="post">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" id="usernameInput" name="username" required>
                    <label for="usernameInput">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="emailInput" name="email" required>
                    <label for="emailInput">email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock"></ion-icon></span>
                    <input type="password" id="passwordInput" name="password" required>
                    <label for="passwordInput">password</label>
                </div>
    
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account?
                        <a href="#" class="login-link">Login</a>
                    </p>
                </div>
               
            </form>
        </div>  

    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>